
/* #gif {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
} */

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

#linkedin {
  position: relative;
  transition: 1s;
  margin-top: 10px;
  padding-right: 10px;
}

#linkedin:hover {transform: scale(1.3);}

#github {
  position: relative;
  transition: 1s;
}

#github:hover {transform: scale(1.3);}

#titleButtons{
  margin-top: 30px;
}

.buttonAttributes {
  color: #999999;
  text-decoration: none;
}

#resumeContainer{
  margin-top: 40px;
}

#resumebtn {
  position: relative;
  padding: 8px 22px;
  margin-bottom: 50px;
  border-radius: 25px;
  background: #fff;
  font-weight: 600;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.seeCodeButton{
  position: relative;
  padding: 8px 22px;
  border-radius: 25px;
  background-color: #444444;
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-size: .8rem;
}

#name {
  font-size: 3rem;
  padding-top: 4%;
  margin-top: 0;
  font-weight: 600;
}

.title {
  text-align: center;
  position: static;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  padding-top: 4%;
  padding-bottom: 7%;
  background-image: url("img/back.gif");
  background-size: cover;
}

#ProjectContainer{
  padding-top: 4%;
  text-align: center;
  font-size: 1.5rem;
}

.projectTitle{
  font-size: 1.25rem;
  font-weight: 700;
  color: #5f6769;
}

.ProjectImages{
  border-radius: 10px;
  height: auto;
  width: auto;
  max-width: 35%;
  max-height: 35%;
}

#projectHeader{
  color: #3c4245;
  font-weight: 900;
  font-size: 2rem;
}

.projectText{
  color: #888888;
  font-size: 1.0rem;
}

.Projects {
  position: static;
  font-size: 1rem;
  padding-top: 1%;
  padding-bottom: 5%;
}

#webBottom{
  position: static;
  background-color: #333333;
  height: 150px;
  text-align: center;
}

#bottomName{
  color: #999999;
  font-weight: 800;
  padding-top: 30px;
}
