
#gif {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

#linkedin {
  position: absolute;
  width: -1%;
  height: -6%;
}

#github {
  position: absolute;
  left: 15%;
}

#resumebtn {
  position: absolute;
  left: 20%;
  background-color: white;
  border-radius: 10px;
  padding-top: 2.10%;
  height: 6%;
  font-size: 1.5rem;
}

#name {
  padding-top: 4%;
}

.title {
  font-size: 1.25rem;
  position: absolute;
  top: 0;
  background-color: #28273F;
  color: white;
  height: 50%;
  width: 100%;
  padding-left: 11%;
  z-index: 1;
}

.skill {

  position: absolute;
  width: 100%;
  color: orange;
  top: 55%;
  left: 11%;

}

#inSkill {
  position: absolute;
  top: 17%;
  left: 35%;
}

.project1 {

  position: absolute;
  width: 100%;
  color: orange;
  top: 85%;
  left: 11%;
}

#firstproject {
  position: absolute;
  top: 17%;
  left: 35%;
}
