
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: rgb(28, 28, 30);
}

#linkedin {
  font-size: 1.8rem;
  transition: 1s;
  margin-top: 10px;
  padding-right: 10px;
}

#linkedin:hover {
  color: white;
  transform: scale(1.1);
  text-decoration: none;
}

#github {
  font-size: 1.8rem;
  transition: 1s;
}

#github:hover {
  color: white;
  transform: scale(1.1);
  text-decoration: none;
}

#titleButtons{
  margin-top: 30px;
}

.buttonAttributes {
  color: white;
  text-decoration: none;
}

#resumeContainer{
  margin-top: 40px;
  transition: 1s;
}

#resumebtn {
  position: relative;
  padding: 8px 22px;
  margin-bottom: 50px;
  border-radius: 25px;
  background: #fff;
  font-weight: 600;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

#resumeContainer:hover {
  transform: scale(1.05);
  opacity: .6;
}

.seeCodeButton{
  position: relative;
  padding: 8px 22px;
  border-radius: 25px;
  background-color: #444444;
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-size: .8rem;
}

#name {
  font-size: 3.5rem;
  margin-top: 0;
  font-weight: 600;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

.title {
  padding: 125px 0 100px 0;
  height: 500px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
  background-color: rgb(36, 36, 41);
  margin-bottom: 4rem;
}

#projectscontainer {
  padding: 0 13%;
  margin-bottom: 5%;
}

#project-title {
  font-weight: bold;
  padding-bottom: 3px;
  display: inline-block;
  color: rgb(210, 210, 210);
}

.card {
  margin-bottom: 50px;
  border: none;
}

.badge-info {
  color: #fff;
  background-color: #9AAEBB;
}

.btn-secondary {
  color: #52575d;
  background-color: white;
  border: none;
  font-size: 1.3rem;
}

#projectheader {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
  color: #5B6267;
}

.card-title {
  font-weight: 600;
}

#webBottom {
  background-color: rgb(28, 28, 30);
  text-align: center;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  font-weight: bold;
  font-size: 1rem;
}

#loader {
  background: rgb(34,40,49);
  background: linear-gradient(90deg, rgba(34,40,49,1) 0%, rgba(140,157,162,1) 100%, rgba(12,40,46,1) 100%);
  position: fixed;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
}

.card-body {
  padding: 1.75rem;
  background-color: #2C2E43;
  color: white;
}

.footer-social-links {
  font-size: 1.3rem;
  transition: 1s;
  margin-top: 10px;
  padding-right: 10px;
}

.badge {
  background-color: #3E497A;
}